# System files
.DS_Store
src/.DS_Store

# Ignore all logs
data/collector_log_*.txt

# But allow them to be committed manually by the bot
!data/collector_log_*.txt


# Local scripts
check_mx.py
validate.py

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc




